/* Defaults ------------------------------ */
.gap {
    height: 4px;}

.wrapper {
    margin-top: -100px;}

.home {
    height: 60vh;}

table tr td:first-child{
    color: #4D3928;}

h3{
    margin: 0; /* override */
    color: var(--brown);}

/* Details ------------------------------ */
.details-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;}

.icon.fa-map-location-dot{
    position: static;}

/* Details Gallery */
.details-gallery{
    display: grid;
    grid-gap: 0.5rem;}

.slice-container{
    position: relative; 
    height: 60vh;}

.slice{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;}

.move{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);}

.prev, .next{
    width: auto;
    padding: 16px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;}

.prev{
    border-radius: 0 3px 3px 0;}

.next{
    border-radius: 3px 0 0 3px;}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);}

.thumb-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, auto));
    gap: 0.5rem;}

.thumb{
    width: 100%;
    opacity: 0.6;}

.thumb:hover, .slice-active{
    opacity: 1;
    cursor: pointer;}

/* Details | Others */
.details-char{
    position: relative;
    padding-bottom: 0} /* for char-img */

.details-char h3{
    margin-bottom: 2%;}

.char-img{
    position: absolute;
    top: 0; right: 0;
    width: 50%;
    z-index: -1;}

.map-char {
    padding: 0;}

.map-char img{
    width: 50%;
    margin-left: 27%;
    height: 100%;}
.ct{
        font-size: 21px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }