#myBtn {
  display: none;
  position: fixed;
  border: none;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 999;
}
#myBtn:hover{
    height: 75px;
    width: 75px ;
}
.tb2{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  height: auto;
  width: 20%;
  background-color: white;
  position: fixed;
  right: 38%;
  top: 30%; 
  z-index: 1000;
  display: none;
  border: solid 2px;
  border-radius: 10px;
}
.done{
  margin: 1%;
  background-color: rgb(177, 228, 246);
  height: 40px;
  width: auto;
  padding: 1%;
  border-radius: 10px;
  font-weight: bold;
}
.done:hover{
  background-color: rgb(140, 219, 247);
}
.search{
  text-align: right;
  width: 400px;
  display: inline-block;
  padding: 4px 10px;
  font-size: 90%;
  border: none;
  border-radius: 6px;
}
.myInput{
  cursor: grab;
  height: 32px;
  width: 300px;
  border: solid 1px;
  border-radius: 20px;
  text-align: center;
}



